<!DOCTYPE html>
<html lang="pr-BR">

<head>
    <meta charset="UTF-8" />
    <title>Meu Perfil</title>
    @include('default_include')
    {{ script('validations.js') }}
</head>

<body>
    @include('menu')
    <section class="section">
        <div class="box">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-4 is-vertical">
                    <div class="box is-child">
                        <section>



                        </section>
                    </div>
                </div>
                <div class="tile is-parent is-vertical">
                    <div class="box is-child">
                        <section>

                            

                        </section>
                    </div>
                </div>
            </div>


        </div>
    </section>
</body>

</html>