<html>

<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    {{ style('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') }}
    {{ style('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css') }}
    {{ script('dashboard.js') }}
    {{ script('validations.js') }}
</head>


<body>

    <div>
    </div>
    @include('menu')
    <section class="section">
        <div class="container">
            <h2 class="title">Status</h2>
            <p class="subtitle">Lista de fluxos e pedidos de informações</p>
            <div class="columns has-text-centered ">
                <div class="column is-quarter">
                    <div class="box has-background-primary">
                        <h3 class="title is-2 has-text-black">0</h3>
                        <p class="subtitle has-text-blue">Fluxos totais</p>
                    </div>
                </div>
                <div class="column is-quarter">
                    <div class="box has-background-danger">
                        <h3 class="title is-2 has-text-black">0</h3>
                        <p class="subtitle has-text-green">Concluídos</p>
                    </div>
                </div>
                <div class="column is-quarter">
                    <div class="box has-background-danger">
                        <h3 class="title is-2 has-text-black">0</h3>
                        <p class="subtitle has-text-green">Solicitações em aberto</p>
                    </div>
                </div>
                <div class="column is-quarter">
                    <div class="box has-background-danger">
                        <h3 class="title is-2 has-text-black">0</h3>
                        <p class="subtitle has-text-green">Solicitações concluídas</p>
                    </div>
                </div>
            </div>         
        </div>
    </section>

</body>

</html>