{{ style('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') }}
{{ style('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css') }}
{{ style('/icofont.min.css')}}