<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    @include('default_include')
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="logo"></div>

            @loggedIn
            <h2> Olá {{ auth.user.username }} Você já está logado. Redirecionando</h2>
            <meta http-equiv="refresh" content="1; URL='/dashboard'" />
            @else

            <div class="columns is-vcentered is-centered has-text-centered">
                <form action="/login" method="POST">
                    <div class="box">
                        {{ csrfField() }}
                        <div class="column has-text-centered">
                            <figure class="image is-centered is-128x128 is-inline-block">
                                <img src="/images/logo-semloop.gif" alt="LGPD na prática">                                
                              </figure>
                        </div>
                        <p class="subtitle">Você não está logado. Por favor realize o login no sistema</p>
                        <div class="column is-narrow">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="password" name="password" placeholder="Senha">
                                </div>
                            </div>
                            <div class="field">
                                <button class="button submit is-primary is-focused is-medium">Login</button>
                            </div>
                            <div class="is-size-4">
                                <a class="button is-ghost is-light is-small" href="/esqueciMinhaSenha">Esqueci minha senha</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @endloggedIn
    </section>
</body>
@include('toast_include')

</html>