<html>
<script>
    function toggleField(hideObj,showObj){
              hideObj.disabled=true;        
              hideObj.style.display='none';
              showObj.disabled=false;   
              showObj.style.display='inline';
              showObj.focus();
            }
</script>

<head>
    <meta charset="UTF-8" />
    <title>Fluxos</title>
    @include('default_include')
</head>

<body>
    <div>
    </div>
    @include('menu')
    <section class="section">
        <h1 class="title">Novo fluxo</h1>
        <form action="/fluxos" method="POST">
            @include('fluxocrud')
        </form>
    </section>
</body>
@include('toast_include')
{{ script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js') }}
{{ script('/scripts/general.js') }}

</html>