<html>

<head>
    <meta charset="UTF-8" />
    <title>Fluxos</title>
    {{ style('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') }}
    {{ style('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css') }}

</head>

<body>
    <div>
    </div>
    @include('menu')
    <section class="section">

        <div class="container is-fluid">
            <div class="columns is-fullwidth is-centered">
                <div class="column is-half is-half">
                    <div class="title">Novo fluxo</div>
                    <div class="field">
                        <label class="label" for="">Label for text</label>
                        <div class="control">
                            <input class="input" type="text" name="field-name" placeholder="Write a text">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for text</label>
                        <div class="control">
                            <input class="input" type="text" name="field-name" placeholder="Write a text">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for textarea</label>
                        <div class="control"><textarea class="textarea" name="field-name" rows="3"
                                placeholder="Write something..."></textarea></div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for text</label>
                        <div class="control">
                            <input class="input" type="text" name="field-name" placeholder="Write a text">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for text</label>
                        <div class="control">
                            <input class="input" type="text" name="field-name" placeholder="Write a text">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for textarea</label>
                        <div class="control"><textarea class="textarea" name="field-name" rows="3"
                                placeholder="Write something..."></textarea></div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for textarea</label>
                        <div class="control"><textarea class="textarea" name="field-name" rows="3"
                                placeholder="Write something..."></textarea></div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for text</label>
                        <div class="control">
                            <input class="input" type="text" name="field-name" placeholder="Write a text">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="">Label for text</label>
                        <div class="control">
                            <input class="input" type="text" name="field-name" placeholder="Write a text">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox form-check-label" for="">
                                <input type="checkbox" name="field-name" value="example value" checked="">
                                <span class="ml-1">Check me out</span>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox form-check-label" for="">
                                <input type="checkbox" name="field-name" value="example value" checked="">
                                <span class="ml-1">Check me out</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>