<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Relatórios</title>
    @include('default_include')
</head>

<body>
    @include('menu') 
    <section class="section">
        <div class="box">
            @if(fonteDadosFluxos == null)
            Sem fluxos criados!
            @else
            <pre class="mermaidpre">
            <div class="mermaid">
                graph LR             
                @each(fontedados in fonteDadosFluxos)
                @if(fontedados.fluxos.lenght != 0)
                @each(fluxo in fontedados.fluxos)
                {{--  parent para acessar dados do outerloop                        --}}                             
                setor{{fluxo.setor.id}}({{fluxo.setor.nomedosetor}})--> 
                |Recebe pelo|{{$parent.fontedados.id}}({{ $parent.fontedados.nome }})--> 
                |Dado|info{{fluxo.id}}({{fluxo.infocoletadatruncada}})-->                                 
                |Para|nomedoprocesso{{fluxo.id}}({{fluxo.nomedoprocesso}}) -->
                |Devido a|razao{{fluxo.id}}({{fluxo.razao}}) --> 
                |Justificativa|justificativa{{fluxo.id}}({{fluxo.justificativa}}) -->
                |E é armazenado por|prazodeeliminacao{{fluxo.id}}({{fluxo.prazodeeliminacao}})
                @endeach
                @endif
                @endeach                
            </div>
    </pre>
            @endif
        </div>
    </section>
</body>
@include('toast_include')

<style>
    .mermaidpre {
        all: initial;

        * {
            all: unset;
        }
    }

    .label {
        all: initial;

        * {
            all: unset;
        }
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({startOnLoad:true});
</script>

</html>